@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  
  /* overflow: hidden */
}
body{
  min-height: 94vh;
  width: 310px;
  background-color:white;
  margin: auto;
  border-width: 9px;
  border-style: solid;
  border-radius: 30px;
  border-color: lightgrey;
  /* overflow: hidden; */
  /* padding: 1300px; */
  /* padding: 0px 20px; */
  position: relative;
  
}

#showPopup{
  position: absolute;
}

@media (max-width: 500px) {
  html{
    padding: 0px;
  }
  body{
    width: 100%;
    height: 100vh;
    border-width: 0;
    padding: 0px;
    border-radius:0px;
  }
}

@layer {
  #root {
    font-family: "Inter", sans-serif;
  }
}